{% include 'admin_panel/header.html' %}
<style>
.body{min-height: 756px !important;}
.wrapper, body, html {
    min-height: 750px !important;
}
	.dashboard-footer{position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
	}
	@media(min-width: 1366px) and  (max-width: 1366px) {
	.data{
	width: 280px;
	}
	.data1{
	margin-left: 25px;
	width: 280px;
	}
	.approve
	{
		width:72px !important;
	}
	.reject
	{
		width:80px !important;
	}
	.pending
	{
		width:80px !important;
	}
}
</style>

<div role="tabpanel" class="tab-pane fade active show" id="Dashboard">
    
	<div class="content-header" style="margin-left: 257px;">
		<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
			<h1 class="m-0">Dashboard</h1>
			</div><!-- /.col -->
			<!-- <div class="col-sm-6"> -->
			<!-- <ol class="breadcrumb float-sm-right"> -->
				<!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
				<!-- <li class="breadcrumb-item active">Dashboard</li> -->
			<!-- </ol> -->
			<!-- </div> -->
		</div>
		</div>
	</div>
	<section class="content">
		<div class="container-fluid">    
		<!-- Small boxes (Stat box) -->
		<div class="row" style="margin-left: 233px;">
			<!-- <div class="col-lg-3 col-6"> -->
				<!-- <div class="small-box bg-info"> -->
					<!-- <div class="inner"> -->
					<!-- <h3>{{customer}}</h3> -->
					<!-- <p>Total Active Customer</p> -->
					<!-- </div> -->
					<!-- <div class="icon"> -->
					<!-- <i class="ion ion-stats-bars"></i> -->
					<!-- </div> -->
					<!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
				<!-- </div> -->
			<!-- </div> -->
			<div id="add_card_show"  >
						
                        <div class="row" style="margin-top: 41px;color:white;">
							<div class="col-md-5 container card shadow users-container pt-2" style="margin-left: 30px; width:30%; height:160px;     background-image: linear-gradient(to bottom, #00b09b, #96c93d) !important; cursor:pointer;" onclick='window.location.href="/vender_list/"'> 
								<h5 class="text-center" style="font-weight: 600;color:white;">Total Vendors</h5>
								<h6 class="text-center"><a href="#" style="text-decoration:none;color:white;cursor:pointer; font-weight: 700;font-size: 31px; margin-top:10px; ">{{vendor}} </a></h6>
								<div style="border-bottom:1px solid rgb(219, 219, 219);margin-bottom: 11px;"></div>
								<div class="row ">
									<div class="col-md-3" style="margin-left:45px;">
										<h6 class="text-center pending" style="font-weight: 500;">Pending</h6>
										<p class="text-center">{{pending}}</p>
										<!-- <p class="text-center">34</p> -->
									</div>
									<div class="col-md-3">
										<h6 class="text-center approve" style="font-weight: 500;">Approved</h6>
										<p class="text-center">{{approve}}</p>
										<!-- <p class="text-center">34</p> -->
									</div>
									<div class="col-md-3">
										<h6 class="text-center reject" style="font-weight: 500;">Rejected</h6>
										<p class="text-center">{{reject}}</p>
										<!-- <p class="text-center">34</p> -->
									</div>
								</div>
							</div>

							<div class="col-md-5 container card shadow users-container pt-2 " style="width:30%; height:160px; background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%) !important; cursor:pointer;" onclick='window.location.href="/customerpage/"' > 
								<h5 class="text-center" style="font-weight: 600; cursor:pointer;">Total Customer</h5>
								<div style="border-bottom:1px solid rgb(219, 219, 219);margin-top: 11px;"></div>
								<h6 class="text-center"  data-toggle="modal"  data-target="#pendingEarningModal" style="font-weight: 500; font-size: 31px;  margin-top:10px;"> {{customer}} </h6>
								
								<div class="row">
									<!-- <div class="col-md-4"> -->
										<!-- <br> -->
										<!-- <P style="font-weight: 500;">NEW</P> -->
										<!-- <p style="font-weight: 500;">RENEW</p> -->
									<!-- </div> -->
									<!-- <div class="col-md-4"> -->
										<!-- <h6 class="text-center" style="font-weight: 500;">Monthly Plan</h6> -->
										<!-- <p class="text-center">₹34</p> -->
										<!-- <p class="text-center">₹34</p> -->
									<!-- </div> -->
									<!-- <div class="col-md-4"> -->
										<!-- <h6 class="text-center" style="font-weight: 500;">Yearly Plan</h6> -->
										<!-- <p class="text-center">₹34</p> -->
										<!-- <p class="text-center">₹34</p> -->
									<!-- </div> -->
								</div>
							</div>
						
							<div class="col-md-5 container card shadow users-container pt-2 " style="width:30%; height:160px; background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(139,147,92,1) 0%, rgba(0,212,255,1) 100%)!important; cursor:pointer;" onclick='window.location.href="/revenue_income/"'> 
								<h5 class="text-center" style="font-weight: 600; cursor:pointer;">Total Revenue</h5>																
								<div style="border-bottom:1px solid rgb(219, 219, 219);margin-top: 11px;"></div>
								<h6 class="text-center"  data-toggle="modal"  data-target="#pendingEarningModal" style="font-weight: 500; font-size: 31px;  margin-top:10px;"> {{revenue| floatformat:2}} </h6>
								
								<!-- <div class="row"> -->
									<!-- <div class="col-md-4"> -->
										<!-- <br> -->
										<!-- <P style="font-weight: 500;">NEW</P> -->
										<!-- <p style="font-weight: 500;">RENEW</p> -->
									<!-- </div> -->
									<!-- <div class="col-md-4"> -->
										<!-- <h6 class="text-center" style="font-weight: 500;">Monthly Plan</h6> -->
										<!-- <p class="text-center">₹34</p> -->
										<!-- <p class="text-center">₹34</p> -->
									<!-- </div> -->
									<!-- <div class="col-md-4"> -->
										<!-- <h6 class="text-center" style="font-weight: 500;">Yearly Plan</h6> -->
										<!-- <p class="text-center">₹34</p> -->
										<!-- <p class="text-center">₹34</p> -->
									<!-- </div> -->
								<!-- </div> -->
							</div>
							
							
						</div>
						<div class="row">
						<div class="col-md-5 container card shadow users-container pt-2 " style="width:30%; height:160px; background-image: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(184,45,253,1) 100%) !important; cursor:pointer;" onclick='window.location.href="/revenue_income/"' > 
								<h5 class="text-center" style="font-weight: 600; color:white">Total Income</h5>	
								<div style="border-bottom:1px solid rgb(219, 219, 219);margin-top: 11px;"></div>								
								<h6 class="text-center"  data-toggle="modal"  data-target="#pendingEarningModal" style="font-weight: 500; font-size: 31px; cursor:pointer; margin-top:10px; color:white;"> {{income| floatformat:2}} </h6>
								
								
								<!-- <div class="row"> -->
									<!-- <div class="col-md-4"> -->
										<!-- <br> -->
										<!-- <P style="font-weight: 500;">NEW</P> -->
										<!-- <p style="font-weight: 500;">RENEW</p> -->
									<!-- </div> -->
									<!-- <div class="col-md-4"> -->
										<!-- <h6 class="text-center" style="font-weight: 500;">Monthly Plan</h6> -->
										<!-- <p class="text-center">₹34</p> -->
										<!-- <p class="text-center">₹34</p> -->
									<!-- </div> -->
									<!-- <div class="col-md-4"> -->
										<!-- <h6 class="text-center" style="font-weight: 500;">Yearly Plan</h6> -->
										<!-- <p class="text-center">₹34</p> -->
										<!-- <p class="text-center">₹34</p> -->
									<!-- </div> -->
								<!-- </div> -->
							</div>
							
							
						</div>
						<div class="col-md-5 container card shadow users-container pt-2 " style="width:31%; height:160px; background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(210,208,30,1) 0%, rgba(255,0,31,0.9472163865546218) 100%) !important; float: left;margin-top: -176px;margin-left: 14px; cursor:pointer;" onclick='window.location.href="/orders/"'> 
								<h5 class="text-center" style="font-weight: 600; color:white">Total Orders Completed</h5>	
								<div style="border-bottom:1px solid rgb(219, 219, 219);margin-top: 11px;"></div>								
								<h6 class="text-center"  data-toggle="modal"  data-target="#pendingEarningModal" style="font-weight: 500; font-size: 31px;  margin-top:10px; color:white;"> {{orders}} </h6>
								
								
								<!-- <div class="row"> -->
									<!-- <div class="col-md-4"> -->
										<!-- <br> -->
										<!-- <P style="font-weight: 500;">NEW</P> -->
										<!-- <p style="font-weight: 500;">RENEW</p> -->
									<!-- </div> -->
									<!-- <div class="col-md-4"> -->
										<!-- <h6 class="text-center" style="font-weight: 500;">Monthly Plan</h6> -->
										<!-- <p class="text-center">₹34</p> -->
										<!-- <p class="text-center">₹34</p> -->
									<!-- </div> -->
									<!-- <div class="col-md-4"> -->
										<!-- <h6 class="text-center" style="font-weight: 500;">Yearly Plan</h6> -->
										<!-- <p class="text-center">₹34</p> -->
										<!-- <p class="text-center">₹34</p> -->
									<!-- </div> -->
								<!-- </div> -->
							</div>
						</div>
							
					</div>
			</div>
			
		</div>
	
		
		</div>
	</section>
 </div> 
	 
<script>
$(document).ready(function(){
	$('.dashboard').css("color", "White");
});

</script>

{% include 'admin_panel/footer.html' %}