{% include 'admin_panel/header.html' %}
<style>
.body{min-height: 756px !important;}
.wrapper, body, html {
    min-height: 750px !important;
}
	.dashboard-footer{position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
	}
	@media(min-width: 1366px) and  (max-width: 1366px) {
	.data{
	width: 280px;
	}
	.data1{
	margin-left: 25px;
	width: 280px;
	}
}
</style>
<div role="tabpanel" class="tab-pane fade active show" id="Dashboard">
    
	<div class="content-header" style="margin-left: 257px;">
		<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
			<h1 class="m-0">Dashboard</h1>
			</div><!-- /.col -->
			<!-- <div class="col-sm-6"> -->
			<!-- <ol class="breadcrumb float-sm-right"> -->
				<!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
				<!-- <li class="breadcrumb-item active">Dashboard</li> -->
			<!-- </ol> -->
			<!-- </div> -->
		</div>
		</div>
	</div>
	<section class="content">
		<div class="container-fluid">    
		<!-- Small boxes (Stat box) -->
		<div class="row" style="margin-left: 257px;">
			<!-- <div class="col-lg-3 col-6"> -->
				<!-- <div class="small-box bg-info"> -->
					<!-- <div class="inner"> -->
					<!-- <h3>{{customer}}</h3> -->
					<!-- <p>Total Active Customer</p> -->
					<!-- </div> -->
					<!-- <div class="icon"> -->
					<!-- <i class="ion ion-stats-bars"></i> -->
					<!-- </div> -->
					<!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
				<!-- </div> -->
			<!-- </div> -->
			
			<div class="col-lg-3 col-6" >
				<div class="small-box bg-success data" style="height:140px; ">
					<h3 style="font-size: 20px;text-align: center; color:#1F2D3D;">Vendor </h3>
					<hr style="margin:1px 0 !important;">
					<div class="row">
						<div class="col-md-3">
							<p style="margin-left:7px;">Pending</p>
						</div>
						<div class="col-md-3">
							<p>Approved</p>
						</div>
						<div class="col-md-3">
							<p>Rejected</p>
						</div>
						<div class="col-md-3">
							<p>Total</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<p style="margin-left:7px; text-align:center;">{{pending}}</p>
						</div>
						<div class="col-md-3">
							<p style="text-align:center;">{{approve}}</p>
						</div>
						<div class="col-md-3">
							<p style="text-align:center; margin-right:21px;">{{reject}}</p>
						</div>
						<div class="col-md-3">
							<p style="text-align:center; margin-right:28px;">{{count_vendor}}</p>
						</div>
					</div>
					<!-- <div class="inner"> -->
						<!-- <h3>5{{count_vendor}}</h3> -->
						<!-- <p>Total Active Vendor</p> -->
					<!-- </div> -->
					<!-- <div class="icon"> -->
						<!-- <i class="ion ion-stats-bars"></i> -->
					<!-- </div> -->
						<!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
				</div>
			</div>
			
			<div class="col-lg-3 col-6" >
			
				<div class="small-box bg-warning data1" style="height:140px;">
					<h3 style="font-size: 20px;text-align: center;">Customer </h3>
					<hr style="margin:1px 0 !important;">
					<div class="inner">
						<h4 style="text-align: center;">{{customer}}</h4>
					</div>
					<!-- <div class="icon"> -->
						<!-- <i class="ion ion-person"></i> -->
					<!-- </div> -->
					<!-- <a href="#" class="small-box-footer" onclick="Get_Commuter_List()">More info <i class="fas fa-arrow-circle-right"></i></a> -->
				</div>
			</div>
			
			<!-- <div class="col-lg-3 col-6"> -->
			
				<!-- <div class="small-box bg-danger"> -->
					<!-- <div class="inner"> -->
						<!-- <h3>{{expired_offer}}</h3> -->
						<!-- <p>Total Expired OfferCode</p> -->
					<!-- </div> -->
					<!-- <div class="icon"> -->
						<!-- <i class="ion ion-person"></i> -->
					<!-- </div> -->
					<!-- <a href="#" class="small-box-footer" onclick="Get_Sender_List()">More info <i class="fas fa-arrow-circle-right"></i></a> -->
				<!-- </div> -->
			<!-- </div> -->
		</div>
	
		<div class="row">
			<div class="table">
				<!-- <table class="table table-striped"> -->
					 <!-- <thead> -->
					<!-- <tr> -->
						<!-- <th scope="col">#</th> -->
						<!-- <th scope="col">First</th> -->
						<!-- <th scope="col">Last</th> -->
						<!-- <th scope="col">Handle</th> -->
					<!-- </tr> -->
					<!-- </thead> -->
					<!-- <tbody> -->
					<!-- <tr> -->
						<!-- <th scope="row">1</th> -->
						<!-- <td>Mark</td> -->
						<!-- <td>Otto</td> -->
						<!-- <td>@mdo</td> -->
					<!-- </tr> -->
					<!-- <tr> -->
						<!-- <th scope="row">2</th> -->
						<!-- <td>Jacob</td> -->
						<!-- <td>Thornton</td> -->
						<!-- <td>@fat</td> -->
					<!-- </tr> -->
					<!-- <tr> -->
						<!-- <th scope="row">3</th> -->
						<!-- <td colspan="2">Larry the Bird</td> -->
						<!-- <td>@twitter</td> -->
					<!-- </tr> -->
					<!-- </tbody> -->
				<!-- </table> -->
			</div>
		</div>
		</div>
	</section>
 </div> 
	 
<script>
$(document).ready(function(){
	$('.dashboard').css("color", "White");
});

</script>

{% include 'admin_panel/footer.html' %}