{% load static %}
{% include 'admin_panel/header.html' %}


  <!-- Content Wrapper. Contains page content -->
  <div class="main_container content-wrapper tab-content tabs">

 
	</div>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script> -->
<script>
$(document).ready(function(){
	$('.dashboard').css("color", "White");
	
	Get_Dashboard_Data();
});

</script>
  {% include 'admin_panel/footer.html' %}

